*{
  padding: 0;
  margin: 0;
}
body{
  background-color: burlywood;
  padding: 1em;
}
h1{
  text-align: center;
  font-size: clamp(1.3em, 50%, 5em);
  background: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.game-circle{
  width: 100%;
  box-shadow: 4px 5px rgba(0, 0, 0, 0.438);
  height: 85vh;
  margin: 0 auto;
  background: linear-gradient(135deg, #ff3e4d, #fc6d26, #ffdd00, #10cfe3, #19e68c);
  position: relative;
  perspective: 300em;
}
.sector{
  width: 15em;
  border-radius: 50%;
  height: 2.4em;
  position: absolute;
  top: 7.3em;
  left: 1em;
  z-index: 2;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%);
  background: rgb(70, 56, 38);
}
.sector3{
  background-color: black;
  height: 85vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  transform-origin: left;
  transform: rotateY(0deg);
}
.sector2{
  background-color: rgb(33, 33, 70);
  width: 1em;
  position: absolute;
  border-radius: 10px;
  top: 7em;
  left: 50%;
  height: 25em;
}
.sector2a{
    width: 3em;
    height: 15em;
    background-color: rgb(33, 33, 70);
    position: absolute;
    top: 19em;
    left: calc(50% - 1em);
    border-top-right-radius: 100px 70px;
}
button{
  background: black;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: transform .7s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.658);
  margin-left: calc(50% - 60px);
  margin-top: 8px;
}
button:active{
  transform: scale(.8);
  box-shadow: 0px;
}
.all-sector{
    border: 3px ridge black;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0.164);
    height: 17em;
    width: 17em;
    z-index: 1;
    position: fixed;
    top: 3em;
    left: calc(50% - 8.1em);
}
.sector:nth-child(1){
  transform: rotate(0deg);
}
.sector:nth-child(2){
  transform: rotate(36deg);
}
.sector:nth-child(3){
  transform: rotate(72deg);
}
.sector:nth-child(4){
  transform: rotate(108deg);
}
.sector:nth-child(5){
  transform: rotate(144deg);
}
.sector:nth-child(6){
  transform: rotate(180deg);
}
.sector:nth-child(7){
  transform: rotate(216deg);
}
.sector:nth-child(8){
  transform: rotate(252deg);
}
.sector:nth-child(9){
  transform: rotate(288deg);
}
.sector:nth-child(10){
  transform: rotate(324deg);
}
.sector:nth-child(11){
  transform: rotate(360deg);
}
.switch{
    margin-top: 4em;
    position: relative;
    display: inline-block;
    transform: rotate(90deg);
    width: 45px;
    height: 20px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    transition: 0.4s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
}
.slider::before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
.switch input:checked + .slider{
    background-color: #2196F3;
}
.switch input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider::before{
    transform: translateX(26px);
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes stop {
  from{

  }
  to{
    transform: rotate(1080deg);
  }
}